Repository dhis2/cli-style: changes, and which lefthook commands are due for each by the changed paths.
All: lint-javascript, lint-structured-text

lefthook.yml:

# supports extends in next version
# extends: ./node_modules/@dhis2/cli-style/config/lefthook-frontend.config.yml
commit-msg:
    commands:
        lint-commit-msg:
            run: ./bin/d2-style commit check

pre-commit:
    parallel: true
    commands:
        lint-javascript:
            glob: '*.{js,jsx}'
            run: ./bin/d2-style js check {staged_files}

        lint-structured-text:
            glob: '*.{yaml,yml,md,markdown,json,html,htm}'
            run: ./bin/d2-style structured-text check {staged_files}

pre-push:
    commands:
        glob: 'src/*'
        run: yarn test

chore(release): cut 8.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  0037af4682addd9b233423f4416524ee520c8da8
Due: none

feat: support multiple patterns
  src/utils/files.js
Due: lint-javascript

chore(release): cut 8.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  ef21d6946edf9074e42709c10f875ca817642a88
Due: none

refactor: use run functions from engine
  package.json
  src/commands/check.js
  src/commands/install.js
  src/commands/types/commit.js
  src/commands/types/file-system.js
  src/commands/types/javascript.js
  src/commands/types/structured-text.js
  src/tools/commitlint.js
  src/tools/eslint.js
  src/tools/husky.js
  src/tools/ls-lint.js
  src/tools/prettier.js
  src/utils/files.js
  src/utils/run.js
  yarn.lock
Due: lint-javascript, lint-structured-text

fix(dependabot): change defaults to 5 open prs
  .github/dependabot.yml
  templates/github-dependabot.yml
Due: lint-structured-text

chore(release): cut 8.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  4e71d3eebd3fdaf17bb07d671324cddb20c905e6
Due: none

feat(tools): adds add/remove commands for tools
  src/commands/actions/editorconfig.js
  src/commands/actions/git-hook.js
  src/commands/actions/github.js
  src/commands/actions/ls-lint.js
  src/commands/actions/prettier.js
  src/tools/husky.js
  src/utils/config.js
  src/utils/files.js
Due: lint-javascript

chore(release): cut 8.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  ece2bfc86a10457b83700b5e323ac5ad1e1d90c8
Due: none

feat(preview-pr): add workflow to preview PR on Netlify
  src/utils/config.js
Due: lint-javascript

chore(release): cut 8.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  bfcbc8982663b61695b2cdd98a5b4bfa0c9d09c2
Due: none

fix(deps): release log levels updates from helpers-engine
  package.json
  yarn.lock
Due: lint-structured-text

chore(release): cut 8.4.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  9817a7335c52dd87fa17dfe80f3e49c87bf91dd1
Due: none

chore: remove node 10 support
  package.json
Due: lint-structured-text

chore(deps): update to latest CLI majors
  package.json
  yarn.lock
Due: lint-structured-text

chore(release): cut 9.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  59c567519df6a1f35e74c819f99da72593c8d55a
Due: none

fix(paths): if no project root is found, use consuming root
  src/utils/paths.js
Due: lint-javascript

chore(release): cut 9.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  2b64523694912e6d40b560c7413a0e66594a0211
Due: none

feat(publish-metadata): add workflow to publish Metadata to S3
  src/utils/config.js
Due: lint-javascript

feat: add 'curly' eslint rule to enforce braces around single-line blocks
  config/eslint.config.js
Due: lint-javascript

chore(release): cut 9.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  e6b82265d429605af57d9773d9fd8c4f01f72626
Due: none

chore(release): cut 9.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  3a61c7b7366b1018d72e08e56d791e1264605f77
Due: none

Correct hook commands to non-plural.
  docs/getting-started.md
Due: lint-structured-text

docs: correct hook commands to non-plural.
  docs/getting-started.md
Due: lint-structured-text

ci(semantic-release): use the action
  .github/workflows/dhis2-verify-node.yml
Due: lint-structured-text

ci(netlify): deploy artifact to netlify
  .github/workflows/dhis2-deploy-netlify.yml
  netlify.toml
Due: lint-structured-text

fix(prettier): update configuration to latest
  config/prettier.config.js
Due: lint-javascript

fix: print summary error message
  src/commands/check.js
Due: lint-javascript

style: update code style
  package.json
  src/commands.js
  src/commands/actions/editorconfig.js
  src/commands/actions/eslint.js
  src/commands/actions/git-hook.js
  src/commands/actions/github.js
  src/commands/actions/ls-lint.js
  src/commands/actions/prettier.js
  src/commands/add.js
  src/commands/apply.js
  src/commands/check.js
  src/commands/install.js
  src/commands/remove.js
  src/commands/types/commit.js
  src/commands/types/file-system.js
  src/commands/types/javascript.js
  src/commands/types/structured-text.js
  src/tools/husky.js
  src/utils/files.js
  src/utils/paths.js
  tests/configs.js
  tests/main.js
  yarn.lock
Due: lint-javascript, lint-structured-text

chore(release): cut 9.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  7603495966fec02206baf2afacd0fd461554d1bf
Due: none
