Repository dhis2/cli-style: changes, and which lefthook commands are due for each by the changed paths.
All: lint-javascript, lint-structured-text

lefthook.yml:

# supports extends in next version
# extends: ./node_modules/@dhis2/cli-style/config/lefthook-frontend.config.yml
commit-msg:
    commands:
        lint-commit-msg:
            run: ./bin/d2-style commit check

pre-commit:
    parallel: true
    commands:
        lint-javascript:
            glob: '*.{js,jsx}'
            run: ./bin/d2-style js check {staged_files}

        lint-structured-text:
            glob: '*.{yaml,yml,md,markdown,json,html,htm}'
            run: ./bin/d2-style structured-text check {staged_files}

pre-push:
    commands:
        glob: 'src/*'
        run: yarn test

feat(eslint): add react a11y plugin
  config/js/eslint-react.config.js
  package.json
  yarn.lock
Due: lint-javascript, lint-structured-text

feat(eslint): add compat eslint plugin
  config/js/eslint.config.js
  package.json
  yarn.lock
Due: lint-javascript, lint-structured-text

feat: warnings in eslint
  config/js/eslint.config.js
  src/tools/eslint.js
Due: lint-javascript

feat: show eslint warnings
  config/js/eslint.config.js
  docs/faq.md
  src/tools/eslint.js
Due: lint-javascript, lint-structured-text

refactor: remove unused argv variable
  src/tools/commitlint.js
Due: lint-javascript

feat: show eslint warnings (#368)
  config/js/eslint.config.js
  docs/faq.md
  src/tools/commitlint.js
  src/tools/eslint.js
Due: lint-javascript, lint-structured-text

chore(release): cut 8.0.0-alpha.4 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  e30d0fe585a0b6a0931b9a6ab26a7cf30e4e1e47
Due: none

refactor: remove husky
  config/husky-frontend.local.js
  config/husky.config.js
  config/husky.local.js
  package.json
  yarn.lock
Due: lint-javascript, lint-structured-text

test: drop husky tests
  tests/configs.js
Due: lint-javascript

chore(release): cut 8.0.0-alpha.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

feat: opt-in git hooks (#333)
  README.md
  config/git/hooks/commit-msg
  docs/faq.md
  docs/getting-started.md
  docs/migrate-guide.md
  src/utils/groups.js
  src/utils/paths.js
  tests/group-resolution.js
Due: lint-javascript, lint-structured-text

chore(release): cut 8.0.0-alpha.2 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

chore(release): cut 8.0.0-alpha.3 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

chore: update readme and remove huskyrc
  .huskyrc.js
  README.md
  src/commands/commit.js
  src/tools/commitlint.js
Due: lint-javascript, lint-structured-text

feat: commit check can read from a custom file
  src/commands/commit.js
  src/tools/commitlint.js
  yarn.lock
Due: lint-javascript

chore: checkpoint
  d2-style.config.js
  src/commands.js
  src/commands/apply.js
  src/commands/check.js
  src/commands/helpers.js
  src/commands/types/commit.js
  src/commands/types/javascript.js
  src/commands/types/structured-text.js
  src/tools/eslint.js
  src/utils/files.js
  src/utils/std-log-messages.js
Due: lint-javascript

chore: checkpoint
  d2-style.config.js
  src/commands.js
  src/commands/apply.js
  src/commands/check.js
  src/commands/helpers.js
  src/commands/types/commit.js
  src/commands/types/javascript.js
  src/commands/types/structured-text.js
  src/tools/eslint.js
  src/tools/prettier.js
  src/utils/files.js
  src/utils/run.js
Due: lint-javascript

refactor: drop eslint plugin for prettier
  config/js/eslint.config.js
  package.json
  yarn.lock
Due: lint-javascript, lint-structured-text

chore: checkpoint 3
  config/git/hooks/commit-msg
  config/git/hooks/pre-commit
  config/git/hooks/pre-push
  src/commands/apply.js
  src/commands/check.js
  src/commands/types/commit.js
  src/commands/types/javascript.js
  src/commands/types/structured-text.js
  src/tools/commitlint.js
  src/tools/prettier.js
  src/utils/groups.js
  src/utils/paths.js
  src/utils/run.js
  src/utils/std-log-messages.js
Due: lint-javascript

chore: cleanup
  src/commands/apply.js
Due: lint-javascript

feat: support multiple commands without failing between
  src/commands/check.js
  src/commands/helpers.js
  src/commands/types/commit.js
  src/commands/types/javascript.js
  src/commands/types/structured-text.js
  src/utils/run.js
Due: lint-javascript

chore: fix executable bit
  config/git/hooks/pre-commit
  config/git/hooks/pre-push
  src/commands/types/commit.js
  src/commands/types/javascript.js
  src/commands/types/structured-text.js
Due: lint-javascript

chore: give eslint some space if ok
  src/commands/types/commit.js
  src/commands/types/javascript.js
  src/commands/types/structured-text.js
Due: lint-javascript

chore: cleanup
  src/commands/types/commit.js
Due: lint-javascript

feat: add husky v5 to manage git hooks
  .d2/hooks/.gitignore
  .d2/hooks/commit-msg
  .d2/hooks/pre-commit
  package.json
  src/commands.js
  src/commands/install.js
  src/tools/husky.js
  src/utils/files.js
  src/utils/paths.js
  src/utils/run.js
  yarn.lock
Due: lint-javascript, lint-structured-text

refactor: make supported subcommands explicit
  src/commands/apply.js
  src/commands/check.js
  src/utils/paths.js
  src/utils/run.js
  src/utils/std-log-messages.js
Due: lint-javascript

refactor: remove manual git hook support
  config/git/hooks/commit-msg
  config/git/hooks/pre-commit
  config/git/hooks/pre-push
  src/utils/groups.js
  src/utils/paths.js
Due: lint-javascript

chore: checkpoint
  config/d2-style.config.js
  config/eslint-react.config.js
  config/eslint.config.js
  config/js/browserslist.config.rc
  config/prettier.config.js
  index.js
  src/commands.js
  src/commands/actions/eslint.js
  src/commands/actions/git-hook.js
  src/commands/install.js
  src/tools/commitlint.js
  src/tools/husky.js
  src/utils/config.js
  src/utils/files.js
  src/utils/groups.js
  src/utils/paths.js
  templates/editorconfig-base.rc
  templates/eslint-base.js
  templates/eslint-react.js
  templates/github-dependabot.yml
  templates/github-semantic.yml
  templates/github-stale.yml
  templates/prettier-base.js
  tests/group-resolution.js
Due: lint-javascript, lint-structured-text

chore: checkpoint
  .d2/hooks/pre-push
  .d2/style.config.js
  config/d2-style.config.js
  package.json
  src/commands.js
  src/commands/check.js
  src/commands/install.js
  src/commands/types/javascript.js
  src/commands/types/structured-text.js
  src/tools/husky.js
  src/utils/files.js
  src/utils/paths.js
  yarn.lock
Due: lint-javascript, lint-structured-text

feat: commands to add and remove hooks
  src/commands/actions/git-hook.js
  src/commands/add.js
  src/commands/remove.js
Due: lint-javascript

docs: update the help texts
  src/commands/actions/eslint.js
  src/commands/add.js
  src/commands/apply.js
  src/commands/check.js
  src/commands/install.js
  src/commands/remove.js
  src/utils/files.js
Due: lint-javascript

chore: update scripts
  package.json
Due: lint-structured-text

chore(release): cut 8.0.0-alpha.5 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  4d858db3d5756682804b21642a2976af55d1f385
Due: none

fix: match files from project root
  src/utils/files.js
Due: lint-javascript
