Repository dhis2/cli-style: changes, and which lefthook commands are due for each by the changed paths.
All: lint-javascript, lint-structured-text

lefthook.yml:

# supports extends in next version
# extends: ./node_modules/@dhis2/cli-style/config/lefthook-frontend.config.yml
commit-msg:
    commands:
        lint-commit-msg:
            run: ./bin/d2-style commit check

pre-commit:
    parallel: true
    commands:
        lint-javascript:
            glob: '*.{js,jsx}'
            run: ./bin/d2-style js check {staged_files}

        lint-structured-text:
            glob: '*.{yaml,yml,md,markdown,json,html,htm}'
            run: ./bin/d2-style structured-text check {staged_files}

pre-push:
    commands:
        glob: 'src/*'
        run: yarn test

chore(deps): update c-hive/gha-yarn-cache action to v2
  .github/workflows/dhis2-deploy-netlify.yml
  .github/workflows/dhis2-verify-node.yml
Due: lint-structured-text

fix(deps): update commitlint monorepo to v16
  package.json
  yarn.lock
Due: lint-structured-text

fix(deps): update dependency eslint to v8
  package.json
  yarn.lock
Due: lint-structured-text

fix(deps): update dependency find-up to v6
  package.json
  yarn.lock
Due: lint-structured-text

fix(deps): update dependency yargs to v17
  package.json
  yarn.lock
Due: lint-structured-text

chore(deps): lock file maintenance
  yarn.lock
Due: none

docs: remove link to non-existent configuration page
  docs/_sidebar.md
Due: lint-structured-text

feat(eslint): add react hooks plugin configuration
  config/eslint-react.config.js
Due: lint-javascript

chore(release): cut 10.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  e16bf292537182ebd4fdaec20562fca7f7a44bcb
Due: none

fix: deprecate semantic pr check
  config/d2-style.config.js
  src/utils/config.js
  src/utils/paths.js
  templates/github-semantic.yml
Due: lint-javascript, lint-structured-text

feat: add workflow for checking pr title
  src/utils/config.js
Due: lint-javascript

style: fix prettier error
  src/utils/paths.js
Due: lint-javascript

chore(release): cut 10.3.0 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  6cbe74bc25fc3391b5c132e2efcde8d537eba5bc
Due: none

feat: add project config for checking pr title
  src/utils/config.js
Due: lint-javascript

chore(release): cut 10.4.0 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  6f06fb687c19628c01cb007fc595bc0e72ebf973
Due: none

fix: move commit linting to separate workflow
  src/utils/config.js
Due: lint-javascript

chore(release): cut 10.4.1 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  7329f1ebbd33e01ff347ce6ffb796a28d9fa3148
Due: none

ci: replace semantic commit checks with new workflow
  .github/semantic.yml
  .github/workflows/dhis2-verify-commits.yml
  package.json
  yarn.lock
Due: lint-structured-text

fix: ignore skip release commits for commitlint
  config/commitlint.config.js
Due: lint-javascript

chore(release): cut 10.4.2 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  4b137e386864d77681810f310eb144cff48bfdb3
Due: none

fix(deps): bump eslint react plugin
  package.json
  yarn.lock
Due: lint-structured-text

fix(deps): bump eslint react plugin (#450)
  package.json
  yarn.lock
Due: lint-structured-text

chore(release): cut 10.4.3 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  e549ccf0431a398c49ffad4bec669f38422a7094
Due: none

feat(netlify): add new netlify deploy workflows
  src/utils/config.js
Due: lint-javascript

chore(release): cut 10.5.0 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  5562066ed8ae69af408f417ddf366bb3bfe4b57d
Due: none

fix(netlify): add installation paths for new workflows
  src/utils/config.js
Due: lint-javascript
