Repository dhis2/cli-style: changes, and which lefthook commands are due for each by the changed paths.
All: lint-javascript, lint-structured-text

lint-javascript:
  run: ./bin/d2-style js check {staged_files}

lint-structured-text:
  run: ./bin/d2-style structured-text check {staged_files}

chore: fix tests
  tests/group-resolution.js
Due: lint-javascript

feat(react): add react configuration
  .browserslistrc
  config/js/browserslist.config.rc
  config/js/eslint.react.js
  package.json
  src/commands/javascript.js
  src/commands/structured-text.js
  src/utils/groups.js
  src/utils/paths.js
  yarn.lock
Due: lint-javascript, lint-structured-text

chore: remove direct yargs dep
  package.json
  yarn.lock
Due: lint-structured-text

fix: ignore .d2 directory
  src/files.js
Due: lint-javascript

chore(deps): upgrade @dhis2/cli-helpers-engine to 1.5.0 and remove chalk
  package.json
  src/tools/package/rules/husky-hooks.js
  src/tools/package/rules/pin-dhis2-package-versions.js
  src/tools/package/rules/public-publish-access.js
  yarn.lock
Due: lint-javascript, lint-structured-text

ci: rename reserved token name
  .github/workflows/dhis2-lib-release.yaml
Due: lint-structured-text

chore(release): cut 4.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

feat: allow eslint-react config to be bundled
  config/js/eslint-react.config.js
  config/js/eslint-react.local.js
  src/utils/groups.js
  src/utils/paths.js
Due: lint-javascript

refactor: make the log a bit more specific
  src/commands/javascript.js
  src/commands/structured-text.js
  src/utils/std-log-messages.js
Due: lint-javascript

refactor: create some say functions for consistent logging
  src/commands/javascript.js
  src/commands/structured-text.js
  src/utils/std-log-messages.js
Due: lint-javascript

refactor: change the log messages
  src/commands/javascript.js
  src/commands/structured-text.js
  src/utils/std-log-messages.js
Due: lint-javascript

fix: improve logging for common situations
  src/commands/javascript.js
  src/commands/structured-text.js
Due: lint-javascript

fix: order of type and count
  src/utils/std-log-messages.js
Due: lint-javascript

refactor: update log messages for prettier
  src/commands/javascript.js
  src/commands/structured-text.js
  src/tools/commitlint.js
  src/tools/eslint.js
  src/tools/prettier.js
  src/utils/run.js
  src/utils/std-log-messages.js
Due: lint-javascript

refactor: remove recommendation to run d2-style from log message
  CHANGELOG.md
  src/commands/javascript.js
  src/commands/structured-text.js
  src/tools/prettier.js
Due: lint-javascript, lint-structured-text

fix: add CHANGELOG.md to blacklist
  src/utils/files.js
Due: lint-javascript

chore(release): cut 5.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

fix: update README (and trigger release)
  README.md
Due: lint-structured-text

chore(release): cut 5.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

chore: remove chalk
  package.json
Due: lint-structured-text

fix: add es6 env to eslint config
  config/js/eslint.config.js
Due: lint-javascript

chore(release): cut 5.0.2 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

chore: update workflows
  .github/workflows/dhis2-lib-pr.yaml
  .github/workflows/dhis2-lib-release.yaml
  .github/workflows/node-lint.yml
  .github/workflows/node-publish.yml
  .github/workflows/node-test.yml
Due: lint-structured-text

Path conditions:
  lint-javascript: any of: *.{js,jsx}
  lint-structured-text: any of: *.{yaml,yml,md,markdown,json,html,htm}
