Repository dhis2/cli-style: changes, and which lefthook commands are due for each by the changed paths.
All: lint-javascript, lint-structured-text

lint-javascript:
  run: ./bin/d2-style js check {staged_files}

lint-structured-text:
  run: ./bin/d2-style structured-text check {staged_files}

chore: use explicit value
  config/commitlint.config.js
Due: lint-javascript

style: format
  config/commitlint.config.js
Due: lint-javascript

chore: make commit body line length a warning instead of an error (#479)
  config/commitlint.config.js
Due: lint-javascript

chore: fix merge mistake
  config/commitlint.config.js
Due: lint-javascript

fix: update commitlint.config header max length (#478)
  config/commitlint.config.js
Due: lint-javascript

chore(release): cut 10.7.7 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  3a/0ac381a3cc87b1e818ebf4571997e2073ce5a2
Due: none

fix: declare TS module to avoid error in TS projects
  index.d.ts
Due: none

chore: update deprecated github actions
  .github/workflows/dhis2-deploy-netlify.yml
  .github/workflows/dhis2-verify-commits.yml
  .github/workflows/dhis2-verify-node.yml
Due: lint-structured-text

chore(release): cut 10.7.8 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  7d/887c97472a1264518a2d32710d3844da0da228
Due: none

chore: deduplicate deps and add support for corepack
  package.json
  yarn.lock
Due: lint-structured-text

fix: add no-object-type-as-default-prop rule
  config/eslint-react.config.js
Due: lint-javascript

fix: add no-object-type-as-default-prop rule (#481)
  config/eslint-react.config.js
  package.json
  yarn.lock
Due: lint-javascript, lint-structured-text

chore(release): cut 10.7.9 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  9f/4d3e9f444a9d91cf8b11921d56e410be1a2a42
Due: none

feat: use pnpm as package manager
  .github/workflows/dhis2-deploy-netlify.yml
  .github/workflows/dhis2-verify-commits.yml
  .github/workflows/dhis2-verify-node.yml
  .hooks/pre-push
  README.md
  config/d2-style.config.js
  d2-style.config.js
  docs/getting-started.md
  package.json
  pnpm-lock.yaml
  src/commands/actions/git-hook.js
  src/commands/add.js
  src/utils/paths.js
  yarn.lock
Due: lint-javascript, lint-structured-text

Notes added by 'git notes add'
  49/37b647abe0fe884e16830ec17a52cbd0b271db
Due: none

Notes added by 'git notes add'
  cc/7b32bcdd034c3c4cfb5f0b0da54983416d1288
Due: none

chore(release): cut 10.8.0-alpha.3 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  20/97162156ddc367396aa6e2359193ccd81ab811
Due: none

chore(release): cut 10.8.0-alpha.4 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  f1/68ca9620abc093cb55269596fac32b65ca4e3f
Due: none

fix: revert to action-semantic-release@master
  .github/workflows/dhis2-verify-node.yml
Due: lint-structured-text

fix: use action-semantic-release@pnpm instead of master
  .github/workflows/dhis2-verify-node.yml
Due: lint-structured-text

chore(release): cut 10.8.0-alpha.5 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  44/2463fde0c0982c510400f17bc28eaa3d296730
Due: none

chore(release): cut 10.8.0-alpha.6 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  75/a85ad80509b3c585f1ef46f82ccedda04158d3
Due: none

fix: ignore '[skip ci]' commits
  config/commitlint.config.js
Due: lint-javascript

fix: ignore '[skip ci]' commits (#482)
  config/commitlint.config.js
Due: lint-javascript

fix: prettier issue with config
  config/commitlint.config.js
Due: lint-javascript

fix: prettier issue with config (#483)
  config/commitlint.config.js
Due: lint-javascript

chore(release): cut 10.7.10 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  e0/d6212db57c28419b9114b663beed5e1c1825ea
Due: none

Path conditions:
  lint-javascript: any of: *.{js,jsx}
  lint-structured-text: any of: *.{yaml,yml,md,markdown,json,html,htm}
