Repository dhis2/cli-style: changes, and which lefthook commands are due for each by the changed paths.
All: lint-javascript, lint-structured-text

lint-javascript:
  run: ./bin/d2-style js check {staged_files}

lint-structured-text:
  run: ./bin/d2-style structured-text check {staged_files}

feat(eslint): enforce file extensions within the import path
  config/eslint.config.js
Due: lint-javascript

chore(release): cut 10.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  0c1d0425811e4e64a2aa24e983dc887f662cfa32
Due: none

fix(ls-lint): improve configuration template to fit most projects
  .ls-lint.yml
  templates/ls-lint-base.yml
Due: lint-structured-text

fix(ls-lint): improve ls-lint.yml so it works for normal and mono-repos
  .ls-lint.yml
  templates/ls-lint-base.yml
Due: lint-structured-text

chore(release): cut 9.2.2 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  a076781703d6e6a2e2c4ccc506f9050e28e0ca31
Due: none

chore(deps): add renovate.json
  renovate.json
Due: lint-structured-text

ci(deps): deprecate dependabot
  .github/dependabot.yml
  renovate.json
Due: lint-structured-text

chore(deps): pin dependency tape to v5.1.1
  package.json
  yarn.lock
Due: lint-structured-text

chore(deps): pin dependency @dhis2/cli-utils-docsite to v3.0.0
  package.json
  yarn.lock
Due: lint-structured-text

feat(renovate): add renovate configuration setup
  src/commands/actions/renovate.js
  src/utils/config.js
  templates/renovate-base.json
Due: lint-javascript, lint-structured-text

chore(release): cut 9.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  94b6a12e0eb32cce0d557a127b8d2b7543d16e86
Due: none

chore(deps): update actions/setup-node action to v2
  .github/workflows/dhis2-deploy-netlify.yml
  .github/workflows/dhis2-verify-node.yml
Due: lint-structured-text

fix(add): add project config for dhis2-artifacts workflow
  src/utils/config.js
Due: lint-javascript

chore(release): cut 9.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  74eb95cd0a1eaf210164c5686653bc1c3239f000
Due: none

chore(deps): update dependency @dhis2/cli-utils-docsite to v3.1.2
  package.json
  yarn.lock
Due: lint-structured-text

refactor: replace deprecated jsxBracketSameLine with bracketSameLine
  config/prettier.config.js
Due: lint-javascript

chore(deps): update dependency tape to v5.3.1
  package.json
  yarn.lock
Due: lint-structured-text

chore(deps): update nwtgck/actions-netlify action to v1.2
  .github/workflows/dhis2-deploy-netlify.yml
Due: lint-structured-text

chore(release): cut 10.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  51c0235ba0776aa18d9dea539d1503c2e9f3cf3d
Due: none

fix: do not run tools without configs
  src/commands/check.js
  src/commands/types/file-system.js
  src/commands/types/javascript.js
  src/commands/types/structured-text.js
Due: lint-javascript

refactor: use verbose log over debug
  src/commands/types/file-system.js
  src/commands/types/javascript.js
  src/commands/types/structured-text.js
Due: lint-javascript

chore(release): cut 10.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  2129f73a500908bc2231d03e1337fa83ef8a3cc8
Due: none

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency tape to v5.3.2
  package.json
  yarn.lock
Due: lint-structured-text

fix: bump ls-lint
  package.json
  yarn.lock
Due: lint-structured-text

chore(release): cut 10.1.2 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  e4a5ad6073a5fe8390521a40cdd3008f139500d7
Due: none

chore(deps): update dependency tape to v5.4.0
  package.json
  yarn.lock
Due: lint-structured-text

Path conditions:
  lint-javascript: any of: *.{js,jsx}
  lint-structured-text: any of: *.{yaml,yml,md,markdown,json,html,htm}
