Repository dhis2/cli-style: changes, and which lefthook commands are due for each by the changed paths.
All: lint-javascript, lint-structured-text

lefthook.yml:

# supports extends in next version
# extends: ./node_modules/@dhis2/cli-style/config/lefthook-frontend.config.yml
commit-msg:
    commands:
        lint-commit-msg:
            run: ./bin/d2-style commit check

pre-commit:
    parallel: true
    commands:
        lint-javascript:
            glob: '*.{js,jsx}'
            run: ./bin/d2-style js check {staged_files}

        lint-structured-text:
            glob: '*.{yaml,yml,md,markdown,json,html,htm}'
            run: ./bin/d2-style structured-text check {staged_files}

pre-push:
    commands:
        glob: 'src/*'
        run: yarn test

feat: add styled-jsx syntax parsing to stylelint (#466)
  config/stylelint.config.js
  package.json
  src/commands/types/javascript.js
  yarn.lock
Due: lint-javascript, lint-structured-text

chore(release): cut 10.7.0 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  4c247e9ae08f81c007f2f26ee6759a2d06b14e51
Due: none

feat: resolve ignorefile for stylelint
  src/tools/stylelint.js
Due: lint-javascript

docs: add stylelint to ignore docs
  docs/ignore-files.md
Due: lint-structured-text

fix: document ignorefile for stylelint (#468)
  docs/ignore-files.md
  src/tools/stylelint.js
Due: lint-javascript, lint-structured-text

chore(release): cut 10.7.1 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  e0edd72ef102292b220931ffb55a19d3c3a70ce9
Due: none

fix: set basedir for plugin resolution
  src/tools/stylelint.js
Due: lint-javascript

chore(release): cut 10.7.2 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  cc226f7acfa4ede270bbba988183709844e83c90
Due: none

fix: run stylelint before prettier
  src/commands/types/javascript.js
Due: lint-javascript

Notes added by 'git notes add'
  b219eb3116b7ac57c6db2f4b43a3808e1d8282a7
Due: none

chore(release): cut 10.7.3 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

chore: mention prettier in gettingStarted [LIBS-646]
  docs/getting-started.md
Due: lint-structured-text

chore: mention stylelint in docs
  docs/getting-started.md
Due: lint-structured-text

fix: warn user for unfixable properties
  config/stylelint.config.js
Due: lint-javascript

chore(release): cut 10.7.4 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

feat: support typescript eslint
  config/eslint-react.config.js
  config/eslint.config.js
  package.json
  src/tools/typescript-check.js
  yarn.lock
Due: lint-javascript, lint-structured-text

feat: run tsc --noEmit on typescript projects
  src/commands/types/javascript.js
  src/tools/typescript-check.js
  src/utils/config.js
Due: lint-javascript

chore: remove unused babel-eslint package
  package.json
  yarn.lock
Due: lint-structured-text

feat: support typescript linting and type checking (#474)
  config/eslint-react.config.js
  config/eslint.config.js
  package.json
  src/commands/types/javascript.js
  src/tools/typescript-check.js
  src/utils/config.js
  yarn.lock
Due: lint-javascript, lint-structured-text

chore(release): cut 10.8.0-alpha.1 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  52/ee9b522e910aeccaff116322c2ea47d03d0943
Due: none

feat: support typescript linting and type checking (#475)
  CHANGELOG.md
  config/eslint-react.config.js
  config/eslint.config.js
  package.json
  src/commands/types/javascript.js
  src/tools/typescript-check.js
  src/utils/config.js
  yarn.lock
Due: lint-javascript, lint-structured-text

chore(release): cut 10.7.5 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  67/1ee8f5421806c2807e2f507f1b7ab501573988
Due: none

fix(eslint-react-config): handle files with .jsx extensions
  config/eslint-react.config.js
Due: lint-javascript

chore: format
  config/eslint-react.config.js
Due: lint-javascript

fix(eslint-react-config): handle files with .jsx extensions (#477)
  config/eslint-react.config.js
Due: lint-javascript

chore(release): cut 10.7.6 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  5f/7ab94d2cb8062d0fe5c3e5d07343e1110fd53b
Due: none

fix: update commitlint.config header max length
  config/commitlint.config.js
Due: lint-javascript

chore: make body line length a warning instead of an error
  config/commitlint.config.js
Due: lint-javascript

chore: update commitlint.config.js
  config/commitlint.config.js
Due: lint-javascript
