Repository dhis2/cli-style: changes, and which lefthook commands are due for each by the changed paths.
All: lint-javascript, lint-structured-text

lefthook.yml:

# supports extends in next version
# extends: ./node_modules/@dhis2/cli-style/config/lefthook-frontend.config.yml
commit-msg:
    commands:
        lint-commit-msg:
            run: ./bin/d2-style commit check

pre-commit:
    parallel: true
    commands:
        lint-javascript:
            glob: '*.{js,jsx}'
            run: ./bin/d2-style js check {staged_files}

        lint-structured-text:
            glob: '*.{yaml,yml,md,markdown,json,html,htm}'
            run: ./bin/d2-style structured-text check {staged_files}

pre-push:
    commands:
        glob: 'src/*'
        run: yarn test

fix: reference @commitlint/cli package explicitly
  src/tools/commitlint.js
Due: lint-javascript

chore: update variable name to indicate package specification
  src/tools/eslint.js
Due: lint-javascript

chore: update variable name to indicate package specification (prettier)
  src/tools/prettier.js
Due: lint-javascript

chore: use packageName instead of package (prettier)
  src/tools/prettier.js
Due: lint-javascript

chore: use packageName instead of package (eslint)
  src/tools/eslint.js
Due: lint-javascript

chore: use packageName instead of package (commitlint), don't overload bin variable
  src/tools/commitlint.js
Due: lint-javascript

fix: use prompt from cli-helpers-engine
  package.json
  src/commands/install.js
  yarn.lock
Due: lint-javascript, lint-structured-text

fix: allow optional commit-msg file to lint
  src/commands/commit.js
  src/tools/commitlint.js
Due: lint-javascript

chore(release): cut 7.2.3 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  2aab0c392ab02e4b9c06612207a3f0c6d8edcabb
Due: none

refactor: remove husky
  config/husky-frontend.local.js
  config/husky.config.js
  config/husky.local.js
  package.json
  yarn.lock
Due: lint-javascript, lint-structured-text

test: drop husky tests
  tests/configs.js
Due: lint-javascript

chore(release): cut 8.0.0-alpha.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  ea5e7afd5e27013609d08b542f5a41280097aeef
Due: none

chore: add config for commit-msg hook
  config/git/hooks/commit-msg
Due: none

fix: make hook suitable for other repos
  config/git/hooks/commit-msg
Due: none

feat: opt-in to use git-hooks with install
  README.md
  docs/faq.md
  docs/getting-started.md
  docs/migrate-guide.md
  src/commands/install.js
  src/utils/groups.js
  src/utils/paths.js
  tests/group-resolution.js
Due: lint-javascript, lint-structured-text

style: reformat code
  src/utils/groups.js
Due: lint-javascript

test: update tests
  tests/group-resolution.js
Due: lint-javascript

feat: opt-in git hooks (#333)
  README.md
  config/git/hooks/commit-msg
  docs/faq.md
  docs/getting-started.md
  docs/migrate-guide.md
  src/commands/install.js
  src/utils/groups.js
  src/utils/paths.js
  tests/group-resolution.js
Due: lint-javascript, lint-structured-text

chore(release): cut 8.0.0-alpha.2 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  9abcbd63a0b04578073ae7119efa4dbb4e114ef8
Due: none

style: no newlines between imports
  src/commands/install.js
Due: lint-javascript

feat(eslint): add import order rule (#334)
  config/js/eslint.config.js
  index.js
  src/commands/commit.js
  src/commands/install.js
  src/commands/javascript.js
  src/commands/structured-text.js
  src/tools/commitlint.js
  src/tools/eslint.js
  src/tools/prettier.js
  src/utils/config.js
  src/utils/files.js
  src/utils/groups.js
  tests/configs.js
  tests/group-resolution.js
  tests/main.js
Due: lint-javascript

chore(release): cut 7.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  6e87f2d3da7e85c1db07afd0427c31b07dbf87b0
Due: none

chore(release): cut 8.0.0-alpha.3 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  127ab7ba57313b7f333b6209be47316982c23ca8
Due: none

chore: update readme and remove huskyrc
  .huskyrc.js
  README.md
  src/commands/commit.js
  src/tools/commitlint.js
Due: lint-javascript, lint-structured-text

feat: commit check can read from a custom file
  src/commands/commit.js
  src/tools/commitlint.js
  yarn.lock
Due: lint-javascript

chore: use github automerge over kodiak
  .github/.kodiak.toml
  .github/dependabot.yml
Due: lint-structured-text

ci: add codeql workflow
  .github/workflows/codeql-analysis.yml
Due: lint-structured-text

ci: remove sonarcloud integration
  .github/workflows/sonarcloud.yml
Due: lint-structured-text

chore: reformat yml
  .github/workflows/codeql-analysis.yml
Due: lint-structured-text

chore: remove sonar-properties
  sonar-project.properties
Due: none

feat(husky): update pot files before commit
  config/husky-frontend.local.js
  package.json
  yarn.lock
Due: lint-javascript, lint-structured-text

fix(husky): add app-specific husky config that updates pot files
  config/husky-app.local.js
  src/utils/groups.js
  src/utils/paths.js
Due: lint-javascript

fix: use correct command to generate translation files
  config/husky-app.local.js
Due: lint-javascript

feat(eslint): add i18n eslint plugin
  config/js/eslint-react.config.js
  package.json
  yarn.lock
Due: lint-javascript, lint-structured-text

feat(eslint): lint label attribute with i18n plugin
  config/js/eslint-react.config.js
Due: lint-javascript
