Repository dhis2/cli-style: changes, and which lefthook commands are due for each by the changed paths.
All: lint-javascript, lint-structured-text

lint-javascript:
  run: ./bin/d2-style js check {staged_files}

lint-structured-text:
  run: ./bin/d2-style structured-text check {staged_files}

fix(netlify): add installation paths for new workflows
  src/utils/config.js
Due: lint-javascript

chore(release): cut 10.5.1 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  94100ef3bb91213039859a1fc75dbcc131540922
Due: none

chore(deps): remove circular dependency
  .github/workflows/dhis2-verify-commits.yml
  package.json
  yarn.lock
Due: lint-structured-text

fix: format `.yml` files with double quotes
  config/prettier.config.js
Due: lint-javascript

chore: format the yamls
  .github/workflows/codeql-analysis.yml
  .github/workflows/comment-and-close.yml
  .github/workflows/dhis2-deploy-netlify.yml
  .github/workflows/dhis2-verify-commits.yml
  .github/workflows/dhis2-verify-node.yml
  templates/github-dependabot.yml
Due: lint-structured-text

docs: fix headings
  docs/faq.md
  docs/getting-started.md
  docs/migrate-guide.md
Due: lint-structured-text

docs: change build scripts
  docs/index.html
  package.json
Due: lint-structured-text

ci: add base rebuild workflow
  .github/workflows/rebuild-docs.yml
Due: lint-structured-text

ci: add cli-style specific files
  .github/workflows/rebuild-docs.yml
Due: lint-structured-text

feat: add stylelint
  package.json
  yarn.lock
Due: lint-structured-text

chore: remove executable bit
  .browserslistrc
  .editorconfig
  .eslintrc.js
  .gitignore
  .prettierrc.js
Due: lint-javascript

fix: accept files and fix flag
  src/commands/types/css.js
  src/tools/stylelint.js
Due: lint-javascript

fix: update for css type
  src/commands/types/css.js
  src/utils/files.js
Due: lint-javascript

fix: add css type
  src/commands/types/css.js
Due: lint-javascript

ci: update node versions to 20
  .github/workflows/dhis2-verify-node.yml
Due: lint-structured-text

feat: add use-logical stylelint rule
  .stylelintrc.js
  config/stylelint.config.js
  src/utils/config.js
Due: lint-javascript

style: fix js
  src/tools/stylelint.js
Due: lint-javascript

feat: add remaining config files
  src/commands/actions/stylelint.js
  src/commands/check.js
  src/commands/types/css.js
  src/tools/stylelint.js
  src/utils/config.js
  templates/stylelint-base.js
Due: lint-javascript

fix: remove unnecessary config file
  .stylelintrc.js
Due: lint-javascript

fix: use base as default stylelint cfg
  src/commands/actions/stylelint.js
Due: lint-javascript

fix: add missing dep for eslint-plugin-react-hooks
  package.json
  yarn.lock
Due: lint-structured-text

fix: add missing dep for eslint-plugin-react-hooks (#465)
  package.json
  yarn.lock
Due: lint-structured-text

chore(release): cut 10.5.2 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  85e5abc695b85331cb74959713fbdf95b50dbae7
Due: none

fix: add default d2-style config
  config/d2-style.config.js
Due: lint-javascript

fix: add css as autofixable type
  src/commands/apply.js
Due: lint-javascript

docs: add stylelint to readme
  README.md
Due: lint-structured-text

feat: add stylelint (#464)
  .browserslistrc
  .editorconfig
  .eslintrc.js
  .github/workflows/dhis2-verify-node.yml
  .gitignore
  .prettierrc.js
  README.md
  config/d2-style.config.js
  config/stylelint.config.js
  package.json
  src/commands/actions/stylelint.js
  src/commands/apply.js
  src/commands/check.js
  src/commands/types/css.js
  src/tools/stylelint.js
  src/utils/config.js
  src/utils/files.js
  templates/stylelint-base.js
  yarn.lock
Due: lint-javascript, lint-structured-text

Notes added by 'git notes add'
  aadff4e83fa6e43068f21743f7f3fb15bf735a6b
Due: none

chore(release): cut 10.6.0 [skip release]
  CHANGELOG.md
  package.json
Due: lint-structured-text

ci: use node 20 for netlify deploy
  .github/workflows/dhis2-deploy-netlify.yml
Due: lint-structured-text

feat: add stylelint to check styled-jsx css in js
  src/commands/types/javascript.js
Due: lint-javascript

chore: add styled jsx syntax
  config/stylelint.config.js
  package.json
  yarn.lock
Due: lint-javascript, lint-structured-text

style: fix typo
  src/commands/types/javascript.js
Due: lint-javascript

refactor: use recommended approach for applying custom syntax
  config/stylelint.config.js
Due: lint-javascript

Path conditions:
  lint-javascript: any of: *.{js,jsx}
  lint-structured-text: any of: *.{yaml,yml,md,markdown,json,html,htm}
