Repository dhis2/cli-style: changes, and which lefthook commands are due for each by the changed paths.
All: lint-javascript, lint-structured-text

lefthook.yml:

# supports extends in next version
# extends: ./node_modules/@dhis2/cli-style/config/lefthook-frontend.config.yml
commit-msg:
    commands:
        lint-commit-msg:
            run: ./bin/d2-style commit check

pre-commit:
    parallel: true
    commands:
        lint-javascript:
            glob: '*.{js,jsx}'
            run: ./bin/d2-style js check {staged_files}

        lint-structured-text:
            glob: '*.{yaml,yml,md,markdown,json,html,htm}'
            run: ./bin/d2-style structured-text check {staged_files}

pre-push:
    commands:
        glob: 'src/*'
        run: yarn test

docs: update getting started
  docs/getting-started.md
Due: lint-structured-text

ci: enable caching across workflows
  .github/workflows/node-lint.yml
  .github/workflows/node-publish.yml
  .github/workflows/node-test.yml
Due: lint-structured-text

ci: use a single workflow
  .github/workflows/dhis2-verify-lib.yml
  .github/workflows/node-lint.yml
  .github/workflows/node-test.yml
Due: lint-structured-text

ci: only run on pull_request and publish on push to specific branches
  .github/workflows/dhis2-verify-lib.yml
Due: lint-structured-text

ci: use array for needs
  .github/workflows/dhis2-verify-lib.yml
Due: lint-structured-text

ci: rename check to lint
  .github/workflows/dhis2-verify-lib.yml
Due: lint-structured-text

ci: rename unit to test
  .github/workflows/dhis2-verify-lib.yml
Due: lint-structured-text

ci: use shared secrets
  .github/workflows/dhis2-verify-lib.yml
Due: lint-structured-text

chore(release): cut 7.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  b14b8934cbfc397bb01f48d83f2d6155254bbecf
Due: none

ci: cache node_modules
  .github/workflows/dhis2-verify-lib.yml
Due: lint-structured-text

ci: unquote step if
  .github/workflows/dhis2-verify-lib.yml
Due: lint-structured-text

ci: use single workflow
  .github/workflows/dhis2-verify-node.yml
  .github/workflows/node-publish.yml
Due: lint-structured-text

ci: no need to verify when using npx
  .github/workflows/dhis2-verify-node.yml
Due: lint-structured-text

feat(eslint): add import order rule
  config/js/eslint.config.js
Due: lint-javascript

style(eslint): apply import sorting rule
  index.js
  src/commands/commit.js
  src/commands/install.js
  src/commands/javascript.js
  src/commands/structured-text.js
  src/tools/commitlint.js
  src/tools/eslint.js
  src/tools/prettier.js
  src/utils/config.js
  src/utils/files.js
  src/utils/groups.js
  tests/configs.js
  tests/group-resolution.js
  tests/main.js
Due: lint-javascript

chore(release): cut 7.3.0-alpha.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  d6b74bb51138259bba5a17f7b56a280d23179921
Due: none

ci: remove redundant install
  .github/workflows/dhis2-verify-node.yml
Due: lint-structured-text

fix(eslint-config): split into two groups and add newline between groups
  config/js/eslint.config.js
Due: lint-javascript

fix(eslint): use SEVERITY constant
  config/js/eslint.config.js
Due: lint-javascript

fix(eslint): apply updated eslint rules
  src/commands/commit.js
  src/commands/install.js
  src/commands/javascript.js
  src/commands/structured-text.js
  src/tools/prettier.js
  src/utils/config.js
  src/utils/files.js
  src/utils/groups.js
  src/utils/run.js
  tests/configs.js
  tests/group-resolution.js
  tests/main.js
Due: lint-javascript

ci: add kodiak configuration
  .github/.kodiak.toml
Due: none

ci: update to org secrets
  .github/workflows/node-publish.yml
Due: lint-structured-text

ci: add labels to dependabot
  .github/dependabot.yml
Due: lint-structured-text

ci: single workflow for verification
  .github/workflows/dhis2-verify-node.yml
  .github/workflows/node-lint.yml
  .github/workflows/node-publish.yml
  .github/workflows/node-test.yml
Due: lint-structured-text

fix: resolve relative paths to staged files
  src/utils/files.js
Due: lint-javascript

ci: run on push events
  .github/workflows/dhis2-verify-node.yml
Due: lint-structured-text

chore(release): cut 7.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  adca15815168e5f6f9451d62bc87160fa961073a
Due: none

ci: run on pushes to branches only
  .github/workflows/dhis2-verify-node.yml
Due: lint-structured-text

chore: update semantic config
  config/github/semantic.yml
Due: lint-structured-text

docs: add info on how to report issues in jira
  README.md
Due: lint-structured-text

chore(release): cut 7.2.2 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  036c8796783aa8e2fb8f6cb6852f73adb1ef37d8
Due: none

docs: update report issue section
  README.md
Due: lint-structured-text

ci: create comment and close workflow
  .github/workflows/comment-and-close.yml
Due: lint-structured-text

ci: update exempt user list
  .github/workflows/comment-and-close.yml
Due: lint-structured-text

fix: update bin lookup to avoid assuming node_modules lookup
  src/utils/run.js
Due: lint-javascript
