Repository dhis2/cli-style: changes, and which lefthook commands are due for each by the changed paths.
All: lint-javascript, lint-structured-text

lefthook.yml:

# supports extends in next version
# extends: ./node_modules/@dhis2/cli-style/config/lefthook-frontend.config.yml
commit-msg:
    commands:
        lint-commit-msg:
            run: ./bin/d2-style commit check

pre-commit:
    parallel: true
    commands:
        lint-javascript:
            glob: '*.{js,jsx}'
            run: ./bin/d2-style js check {staged_files}

        lint-structured-text:
            glob: '*.{yaml,yml,md,markdown,json,html,htm}'
            run: ./bin/d2-style structured-text check {staged_files}

pre-push:
    commands:
        glob: 'src/*'
        run: yarn test

fix(husky): load husky config before spreading
  config/husky-frontend.local.js
  config/husky.local.js
  tests/configs.js
Due: lint-javascript

chore(release): cut 5.0.3 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

chore(package): add missing repo url in package.json
  package.json
Due: lint-structured-text

fix(eslint): do not add an unignore pattern to the cli command
  src/tools/eslint.js
Due: lint-javascript

chore(release): cut 5.0.4 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

feat(ignorefiles): add consistency to the ignorefiles that are respected
  src/tools/eslint.js
  src/tools/prettier.js
  src/utils/files.js
Due: lint-javascript

refactor(ignorefiles): consolidate lookup logic and add docs
  .gitignore
  docs/_sidebar.md
  docs/ignore-files.md
  netlify.toml
  package.json
  src/tools/eslint.js
  src/tools/prettier.js
  src/utils/files.js
  yarn.lock
Due: lint-javascript, lint-structured-text

refactor(ignorefiles): rename variable to match input
  src/utils/files.js
Due: lint-javascript

chore(release): cut 5.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

docs: move the getting start info to the docsite
  README.md
  docs/getting-started.md
Due: lint-structured-text

docs(migration): add migration guide
  docs/_sidebar.md
  docs/faq.md
  docs/migrate-guide.md
Due: lint-structured-text

docs(readme): fix broken docs link
  README.md
Due: lint-structured-text

docs: fix mistake in migration guide
  docs/migrate-guide.md
Due: lint-structured-text

fix(eslint): suppress warning logs
  src/tools/eslint.js
Due: lint-javascript

chore(release): cut 5.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  e22884ab421638448eb4be42650b154e7a3b77d1
Due: none

feat: use eslint to run prettier
  config/js/eslint.config.js
  docs/_sidebar.md
  docs/overrides.md
  package.json
  src/commands/javascript.js
  src/commands/structured-text.js
  src/tools/eslint.js
  yarn.lock
Due: lint-javascript, lint-structured-text

chore(release): cut 5.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  a166cd6117aa2a47c745c4989a82cd47d7d4b44d
Due: none

chore(release): cut 6.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  8a020fe983a33b1cddd6c144efb03d90626b4ba3
Due: none

ci(dependabot): automerge dependency updates
  .dependabot/config.yml
Due: lint-structured-text

chore: update node engine to >= 10
  package.json
Due: lint-structured-text

ci(actions): update workflows to newest template
  .github/workflows/node-lint.yml
  .github/workflows/node-publish.yml
  .github/workflows/node-test.yml
Due: lint-structured-text

ci(actions): supply pat to checkout action
  .github/workflows/node-publish.yml
Due: lint-structured-text

chore(release): cut 7.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  47eca68d022dcf1217967d62975c5f131472153d
Due: none

fix(commands): run commands with yarn
  README.md
  docs/getting-started.md
  docs/migrate-guide.md
  src/tools/commitlint.js
  src/tools/eslint.js
  src/tools/prettier.js
  src/utils/cmd.js
Due: lint-javascript, lint-structured-text

docs: suggests to add package as dev depency on the migration guide
  docs/migrate-guide.md
Due: lint-structured-text

docs: updates the repository path to https
  package.json
Due: lint-structured-text

feat(eslint): add no-unused-modules rule
  config/js/eslint-react.config.js
  package.json
  yarn.lock
Due: lint-javascript, lint-structured-text
