Repository dhis2/cli-style: changes, and which lefthook commands are due for each by the changed paths.
All: lint-javascript, lint-structured-text

lefthook.yml:

# supports extends in next version
# extends: ./node_modules/@dhis2/cli-style/config/lefthook-frontend.config.yml
commit-msg:
    commands:
        lint-commit-msg:
            run: ./bin/d2-style commit check

pre-commit:
    parallel: true
    commands:
        lint-javascript:
            glob: '*.{js,jsx}'
            run: ./bin/d2-style js check {staged_files}

        lint-structured-text:
            glob: '*.{yaml,yml,md,markdown,json,html,htm}'
            run: ./bin/d2-style structured-text check {staged_files}

pre-push:
    commands:
        glob: 'src/*'
        run: yarn test

chore(release): cut 8.0.0-alpha.6 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  095c2ce88f6e3cd389ad6984e53025905a9d75f3
Due: none

feat: delete deprecated configuration files
  src/commands/install.js
  src/utils/paths.js
Due: lint-javascript

chore(release): cut 8.0.0-alpha.7 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  345cc3ab42d0c16296f4df7cbfde55d2a09faa9b
Due: none

feat: lint file system for consistent names
  .ls-lint.yml
  package.json
  src/commands/actions/ls-lint.js
  src/commands/apply.js
  src/commands/check.js
  src/commands/types/commit.js
  src/commands/types/file-system.js
  src/tools/ls-lint.js
  src/utils/config.js
  src/utils/run.js
  templates/ls-lint-base.yml
  yarn.lock
Due: lint-javascript, lint-structured-text

feat: lint file system for consistent names (#379)
  .ls-lint.yml
  package.json
  src/commands/actions/ls-lint.js
  src/commands/apply.js
  src/commands/check.js
  src/commands/types/commit.js
  src/commands/types/file-system.js
  src/tools/ls-lint.js
  src/utils/config.js
  src/utils/run.js
  templates/ls-lint-base.yml
  yarn.lock
Due: lint-javascript, lint-structured-text

chore(release): cut 8.0.0-alpha.8 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  24e686f324ea8c368f1a0803dd8f73fb5837da19
Due: none

refactor: do not use the .d2 directory for config
  .gitignore
  d2-style.config.js
  src/utils/paths.js
Due: lint-javascript

refactor: store hooks in $PROJECT/.hooks
  src/utils/paths.js
Due: lint-javascript

style: update code style
  src/utils/paths.js
Due: lint-javascript

docs: update docs
  .hooks/.gitignore
  .hooks/commit-msg
  .hooks/pre-commit
  .hooks/pre-push
  README.md
  docs/getting-started.md
Due: lint-structured-text

fix: allow eslint to print colors
  src/tools/eslint.js
Due: lint-javascript

fix: wrong hooks where installed by default
  config/d2-style.config.js
Due: lint-javascript

fix: ignore .d2 directory
  templates/ls-lint-base.yml
Due: lint-structured-text

fix: allow eslint to print colors (#384)
  src/tools/eslint.js
Due: lint-javascript

chore(release): cut 8.0.0-alpha.9 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  de4a9774fac1566ebf0f85dca0e2b3ec86569530
Due: none

fix: resolve d2style config from project over package
  src/utils/config.js
Due: lint-javascript

fix: wrong hooks where installed by default (#385)
  config/d2-style.config.js
  src/utils/config.js
Due: lint-javascript

fix: ignore .d2 directory (#386)
  templates/ls-lint-base.yml
Due: lint-structured-text

chore(release): cut 8.0.0-alpha.10 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  0770bfe4ec32b235967385e8cc87810457fd5156
Due: none

docs: add short intro to the install op
  docs/getting-started.md
Due: lint-structured-text

chore(release): cut 8.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  92aa2b882ef3873ba98ab74dfda750879bd59bdf
Due: none

docs: update changelog
  CHANGELOG.md
Due: lint-structured-text

fix: ignore .yarn directory
  src/utils/files.js
Due: lint-javascript

fix: ignore .yarn directory (#392)
  src/utils/files.js
Due: lint-javascript

chore(release): cut 8.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  f643a02555485bb435b44eb8bbf5340df1302622
Due: none

feat: improve file name matching
  config/d2-style.config.js
  package.json
  src/commands/types/javascript.js
  src/commands/types/structured-text.js
  src/utils/files.js
  yarn.lock
Due: lint-javascript, lint-structured-text

feat: improve file name matching (#395)
  config/d2-style.config.js
  package.json
  src/commands/types/javascript.js
  src/commands/types/structured-text.js
  src/utils/files.js
  yarn.lock
Due: lint-javascript, lint-structured-text

chore(release): cut 8.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  11cd4c1cae1137f467b4754a47a09fe2ad243773
Due: none

fix(cli-43): skip git ops when not a git repo
  src/commands/install.js
  src/commands/types/commit.js
  src/utils/files.js
  src/utils/git.js
  src/utils/paths.js
Due: lint-javascript

chore: update workflow
  .github/workflows/dhis2-verify-node.yml
Due: lint-structured-text

chore: update workflow (#399)
  .github/workflows/dhis2-verify-node.yml
Due: lint-structured-text

refactor: check for lock files
  src/utils/paths.js
Due: lint-javascript
