Repository dhis2/cli-style: changes, and which lefthook commands are due for each by the changed paths.
All: lint-javascript, lint-structured-text

lint-javascript:
  run: ./bin/d2-style js check {staged_files}

lint-structured-text:
  run: ./bin/d2-style structured-text check {staged_files}

chore(release): cut 7.1.0-alpha.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  b5603d6b4f9211861b8552b9d20e24117dd968fd
Due: none

fix: use the nearest bin folder to exec cmds
  package.json
  src/tools/commitlint.js
  src/tools/eslint.js
  src/tools/prettier.js
  src/utils/paths.js
  src/utils/run.js
Due: lint-javascript, lint-structured-text

chore(release): cut 7.1.0-alpha.2 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  03a8a5bd24e197c698f76ab01c9f33a3e261aa37
Due: none

fix: run the command from inside node_modules
  src/utils/files.js
  src/utils/run.js
Due: lint-javascript

chore(release): cut 7.1.0-alpha.3 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  c6a41102253f4d2035cbe2f68a37c61acf7c9013
Due: none

fix: resolve eslint plugins internally first
  src/tools/eslint.js
Due: lint-javascript

chore(release): cut 7.1.0-alpha.4 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  a424587a12f392978fde27a8a16b0642b79b9799
Due: none

fix: declare import as a plugin
  config/js/eslint-react.config.js
  config/js/eslint.config.js
Due: lint-javascript

style: fix formatting
  config/js/eslint-react.config.js
Due: lint-javascript

chore(release): cut 7.1.0-alpha.5 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  69f57dc0467219d306f39045a0fe284de9da3fec
Due: none

fix: remove ignoreExports from no-unused-modules
  config/js/eslint-react.config.js
Due: lint-javascript

chore(release): cut 7.1.0-alpha.6 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  38826cc31bf9791e255700ecd56a567da82cde4b
Due: none

fix: disabled missingExports by default
  config/js/eslint-react.config.js
Due: lint-javascript

chore(release): cut 7.1.0-alpha.7 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  5ffd07afaa7b375ead00c53d247a87f3cf5033f9
Due: none

ci: enable merge commits
  .github/semantic.yml
Due: lint-structured-text

fix: execute the tools in the current dir
  src/utils/run.js
Due: lint-javascript

chore(release): cut 7.1.0-alpha.8 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  7c5dfb5a0fc47b245c4a698a1f1f7fffd449b830
Due: none

fix(eslint-import): switch to recommended import settings
  config/js/eslint-react.config.js
  config/js/eslint.config.js
Due: lint-javascript

docs(eslint): add example on rule configuration
  docs/overrides.md
Due: lint-structured-text

chore(release): cut 7.1.0-alpha.9 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  869e3a4278fe8a140cc8b5d0ee981699c679c7dd
Due: none

docs(husky): add husky requirements to docs
  docs/faq.md
Due: lint-structured-text

chore: enable sonarcloud for repo
  .github/workflows/sonarcloud.yml
  sonar-project.properties
Due: lint-structured-text

chore: update dependabot template
  config/github/dependabot.yml
  src/utils/groups.js
Due: lint-javascript, lint-structured-text

feat(install): prompt to choose project from list
  package.json
  src/commands/install.js
  yarn.lock
Due: lint-javascript, lint-structured-text

chore: allow merge commits
  .github/semantic.yml
Due: lint-structured-text

refactor: simplify handler
  src/commands/install.js
Due: lint-javascript

style: apply prettier 2.0 rules
  src/utils/files.js
Due: lint-javascript

chore(release): cut 7.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  860362e980dbda66e39355a956f7995de0638a54
Due: none

chore(release): cut 7.2.0-alpha.1 [skip ci]
  CHANGELOG.md
  package.json
Due: lint-structured-text

Notes added by 'git notes add'
  61f4df101326d57f139b4034ca8be6c98d52a692
Due: none

Path conditions:
  lint-javascript: any of: *.{js,jsx}
  lint-structured-text: any of: *.{yaml,yml,md,markdown,json,html,htm}
